## Bravo Analys Statistics

In [18]:
import pandas as pd
df = pd.read_excel(r"C:\Users\dell\Desktop\Bravo Analys\bravo_hr_dataset_1000_Python.xlsx", sheet_name='Data')
df

df.drop(columns=df.columns[df.columns.str.startswith('Unnamed')], inplace=True)

import pandas as pd

# Bütün sütunları göstərmək üçün
pd.set_option('display.max_columns', None)

df

,EmployeeID,FullName,Gender,Age,BirthDate,Region,Store,StoreType,StoreSize,Department,Position,EmploymentType,Shift,Education,Salary,ApplicationDate,OfferDate,OfferAccepted,TimeToHireDays,HireDate,TerminationDate,Is Terminated,Tenure_before_exit,TenureDays,TenureYears,PerformanceScore,PerformanceRating,TrainingHours,AbsenceDays,LeaveReason,TerminationType,SourceOfHire
0,1001,Emp_1,Female,44,1980-12-22,Shaki,Store_10,Supermarket,Small,Finance,Assistant Manager,Full-Time,Morning,High School,1234,2021-11-02,2021-12-31,True,59,2021-12-31,NaT,0,43,1316.0,3.61,3.3,Average,7,3,Still Employed,NaN,Website
1,1002,Emp_2,Male,54,1971-06-05,Sumqayit,Store_01,Express,Small,Ops,Cleaner,Full-Time,Night,Bachelor,437,2022-08-13,2022-09-05,True,23,2022-09-09,NaT,0,35,1064.0,2.92,2.8,Average,9,5,Still Employed,NaN,Website
2,1003,Emp_3,Male,37,1988-01-22,Lankaran,Store_04,Supermarket,Medium,IT,Cleaner,Part-Time,Afternoon,High School,350,2025-01-15,2025-02-22,False,38,NaT,NaT,0,1507,NaN,NaN,4.3,Good,8,4,Still Employed,NaN,Job Board
3,1004,Emp_4,Female,23,2002-08-14,Baku,Store_10,Supermarket,Small,Finance,Assistant Manager,Full-Time,Morning,Bachelor,855,2021-03-20,2021-03-27,True,7,2021-03-28,NaT,0,52,1594.0,4.37,3.2,Average,9,3,Still Employed,NaN,LinkedIn
4,1005,Emp_5,Female,53,1972-04-13,Baku,Store_08,Supermarket,Large,IT,Assistant Manager,Part-Time,Afternoon,Master,822,2020-02-03,2020-04-02,True,59,2020-04-08,NaT,0,64,1948.0,5.34,2.7,Average,4,2,Still Employed,NaN,LinkedIn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1096,Emp_996,Female,34,1990-11-13,Baku,Store_05,Supermarket,Small,IT,Assistant Manager,Full-Time,Morning,High School,1074,2024-12-09,2025-01-04,True,26,2025-01-09,NaT,0,7,211.0,0.58,3.4,Average,6,5,Still Employed,NaN,Job Board
996,1097,Emp_997,Male,38,1987-04-05,Baku,Store_04,Supermarket,Medium,Ops,Assistant Manager,Full-Time,Morning,Associate,1117,2022-08-18,2022-08-27,True,9,2022-08-27,NaT,0,35,1077.0,2.95,2.5,Average,5,3,Still Employed,NaN,Website
997,1098,Emp_998,Male,60,1964-11-30,Baku,Store_04,Supermarket,Medium,Logistics,Store Manager,Part-Time,Night,Associate,974,2019-04-10,2019-04-15,True,5,2019-04-18,2021-06-08,1,25,782.0,2.14,3.5,Good,11,4,Resigned,Voluntary,Job Board
998,1099,Emp_999,Male,37,1987-10-26,Ganja,Store_10,Supermarket,Small,Finance,Cashier,Full-Time,Afternoon,High School,604,2021-12-13,2022-01-27,True,45,2022-02-05,NaT,0,42,1280.0,3.51,3.8,Good,8,1,Still Employed,NaN,Referral
999,1100,Emp_1000,Male,24,2001-06-01,Baku,Store_08,Supermarket,Large,Finance,Store Manager,Full-Time,Afternoon,High School,1850,2024-02-13,2024-04-06,True,53,2024-04-07,NaT,0,16,488.0,1.34,4.0,Good,5,2,Still Employed,NaN,LinkedIn

In [19]:
df.columns.sort_values()

Index(['AbsenceDays', 'Age', 'ApplicationDate', 'BirthDate', 'Department',
       'Education', 'EmployeeID', 'EmploymentType', 'FullName', 'Gender',
       'HireDate', 'Is Terminated', 'LeaveReason', 'OfferAccepted',
       'OfferDate', 'PerformanceRating', 'PerformanceScore', 'Position',
       'Region', 'Salary', 'Shift', 'SourceOfHire', 'Store', 'StoreSize',
       'StoreType', 'TenureDays', 'TenureYears', 'Tenure_before_exit',
       'TerminationDate', 'TerminationType', 'TimeToHireDays',
       'TrainingHours'],
      dtype='object')

### HR datasetidirsə (işçilərin məlumatı), statistik testləri adətən 3 istiqamətdə aparırlar



## **1️⃣ Kəmiyyət – Kəmiyyət (Korelasiya baxışı)**

**Məqsəd:** Hansı kəmiyyət dəyərlərinin bir-birinə bağlı olduğunu öyrənmək.
Bu, əsasən **Pearson/Spearman korelyasiyası** ilə edilir.

**Vacib cütlər:**

* (Age, Salary) → Yaş artdıqca maaş artırmı?
* (Age, TenureYears) → Yaşlı işçilərin şirkətdə qalma müddəti.
* (Salary, TenureYears) → Uzunmüddətli işçilərin maaş səviyyəsi.
* (PerformanceRating, Salary) → Yüksək performans maaşa təsir edir mi?
* (PerformanceScore, Salary) → Performans skorları maaşla bağlıdırmı?
* (TenureYears, AbsenceDays) → Şirkətdə çox qalanların işdən qalma günləri.
* (TrainingHours, PerformanceScore) → Təlim saatlarının performansa təsiri.

---

## **2️⃣ Kəmiyyət – Kateqoriya (T-test, ANOVA)**

**Məqsəd:** Kəmiyyət dəyişənlərin müxtəlif qruplar üzrə fərqlənib-fərqlənmədiyini yoxlamaq.

**Vacib cütlər:**

* (Salary, Department) → Departamentlər arası maaş fərqi.
* (Salary, Education) → Təhsil səviyyəsinin maaşa təsiri.
* (Salary, Gender) → Gender maaş fərqliliyi.
* (Salary, Region) → Regionlar arası maaş fərqi.
* (PerformanceScore, Department) → Departamentlər üzrə performans fərqi.
* (AbsenceDays, Shift) → Növbəyə görə işdən qalma fərqliliyi.
* (TenureYears, StoreSize) → Mağaza ölçüsünün işçilərin qalma müddətinə təsiri.

---

## **3️⃣ Kateqoriya – Kateqoriya (Chi-Square)**

**Məqsəd:** İki kateqoriya dəyişənin bir-birinə bağlı olub-olmadığını yoxlamaq.

**Vacib cütlər:**

* (Department, Region) → Regionlara görə departament paylanması.
* (Gender, Department) → Departamentlərdə gender payı.
* (Gender, Is Terminated) → İşdən çıxma genderlə bağlıdırmı?
* (Region, StoreType) → Regionlara görə mağaza tipləri.
* (LeaveReason, TerminationType) → İşdən çıxma səbəbi ilə çıxma tipi əlaqəsi.
* (OfferAccepted, SourceOfHire) → İş təklifinin qəbul olunması mənbədən asılıdırmı?

---

### (Age, Salary) → Yaş artdıqca maaş artırmı?

In [61]:
df[['Age', 'Salary']].isnull().sum()

Age       0
Salary    0
dtype: int64

In [62]:
from scipy import stats

# Pearson korelyasiyası
pearson_corr, pearson_p = stats.pearsonr(age, salary)
print(f"Pearson r = {pearson_corr:.3f}, p-value = {pearson_p:.3f}")
if pearson_corr > 0 and pearson_p < 0.05:
    print("Pearson: Yaş artdıqca maaş artır (müsbət əlaqə var).")
elif pearson_corr < 0 and pearson_p < 0.05:
    print("Pearson: Yaş artdıqca maaş azalır (mənfi əlaqə var).")
else:
    print("Pearson: Əhəmiyyətli əlaqə yoxdur.")

# Spearman korelyasiyası
spearman_corr, spearman_p = stats.spearmanr(age, salary)
print(f"Spearman r = {spearman_corr:.3f}, p-value = {spearman_p:.3f}")
if spearman_corr > 0 and spearman_p < 0.05:
    print("Spearman: Yaş artdıqca maaş artır (müsbət əlaqə var).")
elif spearman_corr < 0 and spearman_p < 0.05:
    print("Spearman: Yaş artdıqca maaş azalır (mənfi əlaqə var).")
else:
    print("Spearman: Əhəmiyyətli əlaqə yoxdur.")

Pearson r = 0.187, p-value = 0.000
Pearson: Yaş artdıqca maaş artır (müsbət əlaqə var).
Spearman r = 0.191, p-value = 0.000
Spearman: Yaş artdıqca maaş artır (müsbət əlaqə var).

| r (Pearson dəyəri) | Əlaqənin tipi | Şərh                        |
| ------------------ | ------------- | --------------------------- |
| 0.0 – 0.19         | Çox zəif      | Praktik olaraq əlaqə yoxdur |
| 0.2 – 0.39         | Zəif          | Yüngül əlaqə var            |
| 0.4 – 0.59         | Orta          | Kafi əlaqə var              |
| 0.6 – 0.79         | Güclü         | Yaxşı əlaqə var             |
| 0.8 – 1.0          | Çox güclü     | Çox yaxşı əlaqə var         |


| r (Spearman dəyəri) | Əlaqənin tipi | Şərh                        |
| ------------------- | ------------- | --------------------------- |
| 0.0 – 0.19          | Çox zəif      | Praktik olaraq əlaqə yoxdur |
| 0.2 – 0.39          | Zəif          | Yüngül əlaqə var            |
| 0.4 – 0.59          | Orta          | Kafi əlaqə var              |
| 0.6 – 0.79          | Güclü         | Yaxşı əlaqə var             |
| 0.8 – 1.0           | Çox güclü     | Çox yaxşı əlaqə var         |

### (Age, TenureYears) → Yaşlı işçilərin şirkətdə qalma müddəti

In [68]:
df.columns.sort_values()

Index(['AbsenceDays', 'Age', 'ApplicationDate', 'BirthDate', 'Department',
       'Education', 'EmployeeID', 'EmploymentType', 'FullName', 'Gender',
       'HireDate', 'Is Terminated', 'LeaveReason', 'OfferAccepted',
       'OfferDate', 'PerformanceRating', 'PerformanceScore', 'Position',
       'Region', 'Salary', 'Shift', 'SourceOfHire', 'Store', 'StoreSize',
       'StoreType', 'TenureDays', 'TenureYears', 'Tenure_before_exit',
       'TerminationDate', 'TerminationType', 'TimeToHireDays',
       'TrainingHours'],
      dtype='object')

In [69]:
df[['Age', 'TenureYears']].isnull().sum()

Age              0
TenureYears    100
dtype: int64

In [70]:
df_group = df.copy()
df_group = df_group[['Age', 'TenureYears']].dropna()
df_group

     Age  TenureYears
0     44         3.61
1     54         2.92
3     23         4.37
4     53         5.34
5     45         6.90
..   ...          ...
995   34         0.58
996   38         2.95
997   60         2.14
998   37         3.51
999   24         1.34

[900 rows x 2 columns]

In [71]:
from scipy import stats

# NaN-ları sil və yalnız iki sütunu götür
age = df_group['Age']
tenure = df_group['TenureYears']

# Pearson korelyasiyası
pearson_corr, pearson_p = stats.pearsonr(age, tenure)
print(f"Pearson r = {pearson_corr:.3f}, p-value = {pearson_p:.3f}")
if pearson_corr > 0 and pearson_p < 0.05:
    print("Pearson: Yaşlı işçilər şirkətdə daha uzun qalır (müsbət əlaqə).")
elif pearson_corr < 0 and pearson_p < 0.05:
    print("Pearson: Yaşlı işçilər şirkətdə daha az qalır (mənfi əlaqə).")
else:
    print("Pearson: Əhəmiyyətli əlaqə yoxdur.")

# Spearman korelyasiyası
spearman_corr, spearman_p = stats.spearmanr(age, tenure)
print(f"Spearman r = {spearman_corr:.3f}, p-value = {spearman_p:.3f}")
if spearman_corr > 0 and spearman_p < 0.05:
    print("Spearman: Yaşlı işçilər şirkətdə daha uzun qalır (müsbət əlaqə).")
elif spearman_corr < 0 and spearman_p < 0.05:
    print("Spearman: Yaşlı işçilər şirkətdə daha az qalır (mənfi əlaqə).")
else:
    print("Spearman: Əhəmiyyətli əlaqə yoxdur.")

Pearson r = 0.208, p-value = 0.000
Pearson: Yaşlı işçilər şirkətdə daha uzun qalır (müsbət əlaqə).
Spearman r = 0.208, p-value = 0.000
Spearman: Yaşlı işçilər şirkətdə daha uzun qalır (müsbət əlaqə).

| r (Pearson dəyəri) | Əlaqənin tipi | Şərh                        |
| ------------------ | ------------- | --------------------------- |
| 0.0 – 0.19         | Çox zəif      | Praktik olaraq əlaqə yoxdur |
| 0.2 – 0.39         | Zəif          | Yüngül əlaqə var            |
| 0.4 – 0.59         | Orta          | Kafi əlaqə var              |
| 0.6 – 0.79         | Güclü         | Yaxşı əlaqə var             |
| 0.8 – 1.0          | Çox güclü     | Çox yaxşı əlaqə var         |


| r (Spearman dəyəri) | Əlaqənin tipi | Şərh                        |
| ------------------- | ------------- | --------------------------- |
| 0.0 – 0.19          | Çox zəif      | Praktik olaraq əlaqə yoxdur |
| 0.2 – 0.39          | Zəif          | Yüngül əlaqə var            |
| 0.4 – 0.59          | Orta          | Kafi əlaqə var              |
| 0.6 – 0.79          | Güclü         | Yaxşı əlaqə var             |
| 0.8 – 1.0           | Çox güclü     | Çox yaxşı əlaqə var         |